.conteudo {
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin: 30px;
  gap: 32px;
  align-items: start;
}

.cartoes {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 2fr));
  gap: 25px;
}

.cartoes__ong {
  display: flex;
  flex-direction: column;
}

.lateral {
  position: sticky;
  top: 150px;
}

.destaque {
  display: block;
}

.formulario {
  display: flex;
  flex-direction: column;
  margin: 24px auto;
  width: 100%;
  max-width: 500px;
}

@media screen and (max-width: 425px) {
  .conteudo {
    display: grid;
    grid-template-columns: 1fr !important;
  }
}

@media screen and (max-width: 768px) {
  .conteudo {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }
}

@media screen and (min-width: 1740px) {
  .cartoes {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 465px) {
  .formulario {
    margin: 24px auto;
    width: 100%;
    max-width: 250px;
  }
}
