.cabecalho {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  background-color: var(--cor-secundaria);
  border: 4px solid var(--cor-destaque);
  border-radius: var(--raio);
  position: sticky;
  height: 150px;
  top: 0;
  z-index: 10;
  margin-top: 10px;
}

.cabecalho img {
  width: 130px;
}

.menu {
  display: flex;
  gap: 50px;
}

.menu a {
  text-decoration: none;
  font-family: var(--font-titulos);
  color: var(--cor-titulos);
  font-size: 20px;
}

.menu a:hover {
  color: var(--cor-destaque);
  transform: scale(1.1);
}

@media screen and (max-width: 768px) {
  .cabecalho {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .cabecalho img {
    width: 110px;
  }

  .menu a {
    font-size: 15px;
    text-align: center;
  }
}

@media screen and (max-width: 320px) {
  .cabecalho img {
    width: 90px;
  }

  .menu a {
    font-size: 11px;
    text-align: center;
  }
}
